<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
<div class="container main">
    <div class="row">
        <div class="col-xs-12">
            <h2>Confirm Checkout</h2>
            <form th:object="${checkout}" th:action="@{/checkout/save}" action="#" method="post">
                <input type="hidden" name="checkoutId" th:value="${checkout.checkoutId}"/>
                <input type="hidden" name="bookId" th:value="${book.id}" />
                
                <div class="form-group">
                    <label for="bookTitle">Book's title: </label><span th:text="${book.bookTitle}" /> 
                    <label for="dateDue">Date Returning: </label>
                    <input type="date" th:value="${checkout.dateDue}" th:field="${checkout.dateDue}" id="dateDue"/>
                </div>


                <input type="submit" class="btn btn-primary btn-lg btn-success" value="Confirm Checkout" style="width: 100%;" />
            </form>
        </div>
    </div>
    <br/>
</div>

<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>