<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Inventory</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="css/site.css" /> -->

<!-- Custom in-line CSS until I better fit this into my environment / container -->
<!-- At the end of the day this is all for the mock-up until using UPRR standards -->
<style>
body {
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: 1.231;
	font-family: verdana, arial, helvetica, clean, sans-serif;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 0;
}
</style>

</head>
<body>
	<div class="container">
		<div class="alert alert-danger">
	    	<h3 class="display-3"><strong>Warning!</strong></h3>
	    	<p>You are currently editing a book in production. To make a permanent change, select <em>save</em> at the bottom of the form. Otherwise, go back or selection <em>cancel</em>.</p>
		</div>
		<form th:object="${unit}" th:action="@{../saveEdit}" action="#" method="post">
		<input type="hidden" name="id" th:value="${unit.id}" />
		
		<div class="row form-group">
			<span class="lead">Book Title</span>
		</div>
		<div class="row form-group">
			<input type="text" th:field="*{bookTitle}" class="form-control" />
		</div>
		<div class="row form-group">
			<span class="lead">ISBN</span>
		</div>
		<div class="row form-group">
			<input type="text" th:field="*{isbn}" class="form-control" />
		</div>
		<div class="row form-group">
			<span class="lead">Author ID</span>
		</div>
		<div class="row form-group">
				<input type="text" th:field="*{author}" class="form-control" />
		</div>
		<div class="row form-group">
			<span class="lead">Publication Country</span>
		</div>
		<div class="row form-group">
				<input type="text" th:field="*{publicationCountry}" class="form-control" />
		</div>
		<div class="row form-group">
			<span class="lead">Publication Year</span>
		</div>
		<div class="row form-group">
				<input type="text" th:field="*{publicationYear}" class="form-control" />
		</div>
		<div class="row form-group">
			<span class="lead">Genre ID</span>
		</div>
		<div class="row form-group">
				<input type="text" th:field="*{genre}" class="form-control" />
		</div>
		<div class="row form-group">
			<span class="lead">Description</span>
		</div>
		<div class="row form-group">
				<textarea th:field="*{description}" class="form-control" rows="6"></textarea>
		</div>

		<div class="row form-group">
				<input type="submit" class="btn btn-success" value="Save" style="width: 100%;" />
				<input type="button" class="btn btn-danger" name="cancel" value="Cancel Changes" onclick="window.location='/library/inventory'" style="width: 100%;" />
		</div>
		
		</form>
	</div>
</body>
</html>