<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header" />
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
	<div class="container">
		<div class="row justify-content-md-center">
    		<div class="alert alert-danger">
    	    	<label for="warning" class="control-label text-center">Warning!</label>
    	    	<p>You are currently editing a book in production. Please use caution.</p>
    		</div>
		</div>
		<div class="row">
			<form th:object="${unit}" th:action="@{/books/save}" action="#" method="post">
			<input type="hidden" name="id" th:value="${unit.id}" />
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-3"><label for="title" class="cols-sm-3 control-label">Book Title</label></div>
                        <div class="col-xs-12 col-md-9 input-group">
                            <span class="input-group-addon"><i class="fa fa-book fa" aria-hidden="true"></i></span>
                            <input type="text" th:field="*{bookTitle}" class="form-control" required="required" />
                        </div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-3"><label for="isbn" class="cols-sm-3 control-label">ISBN</label></div>
                    <div class="col-xs-12 col-md-9 input-group">
                        <span class="input-group-addon"><i class="fa fa-phone-square fa" aria-hidden="true"></i></span>
                        <input type="text" th:field="*{isbn}" class="form-control" required="required" />
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-3"><label for="author" class="cols-sm-3 control-label">Author</label></div>
                    <div class="col-xs-12 col-md-9 input-group">
                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                        <select class="form-control" th:field="*{author}" id="authorDrop" name="authorDrop">
                            <option th:each="author : ${authors}"
                                    th:value="${author.id}"
                                    th:text="${author.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-3"><label for="genre" class="cols-sm-3 control-label">Genre</label></div>
                    <div class="col-xs-12 col-md-9 input-group">
                        <span class="input-group-addon"><i class="fa fa-bookmark fa" aria-hidden="true"></i></span>
                        <select class="form-control" th:field="*{genre}" id="genreDrop" name="genreDrop">
                            <option th:each="genre : ${genres}"
                                    th:value="${genre.id}"
                                    th:text="${genre.name}"></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-3"><label for="country" class="cols-sm-3 control-label">Country of Publication</label></div>
                    <div class="col-xs-12 col-md-9 input-group">
                        <span class="input-group-addon"><i class="fa fa-globe fa" aria-hidden="true"></i></span>
                        <select class="form-control" th:field="*{publicationCountry}" id="countryDrop" name="countryDrop">
                            <option th:each="country : ${countries}"
                                    th:value="${country.id}"
                                    th:text="${country.name}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-3"><label for="year" class="cols-sm-3 control-label">Publication Year</label></div>
                    <div class="col-xs-12 col-md-9 input-group">
                        <span class="input-group-addon"><i class="fa fa-graduation-cap fa" aria-hidden="true"></i></span>
                        <input type="text" th:field="*{publicationYear}" class="form-control" required="required" />
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12">
                    <div class="col-xs-12"><label for="description" class="cols-sm-3 control-label">Description</label></div>
                    <div class="col-xs-12 input-group">
                        <span class="input-group-addon"><i class="fa fa-pencil fa" aria-hidden="true"></i></span>
    					<textarea th:field="*{description}" class="form-control" rows="6"></textarea>
                    </div>
                </div>
            </div>
            <div class="row justify-content-md-center">
    			<div class="form-group col-xs-12">
                    <input type="submit" class="btn btn-primary btn-lg btn-success" value="Save" style="width: 100%;" />
    			</div>
                <hr />
                <div class="form-group col-xs-12">
                    <input type="button" class="btn btn-info btn-lg btn-block" name="cancel" value="Cancel" onclick="window.location='/books/all'" style="width: 100%;" />
                </div>
            </div>
			</form>
		</div>
	</div>
</body>
</html>