<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Inventory</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<div class="container">
		<div class="row justify-content-md-center">
    		<div class="alert alert-danger">
    	    	<h4 class="display-4">Warning!</h4>
    	    	<p>You are currently editing a book in production. To make a permanent change, select <em>save</em> at the bottom of the form. Otherwise, go back or selection <em>cancel</em>.</p>
    		</div>
		</div>
		<div class="row">
			<form th:object="${unit}" th:action="@{../saveEdit}" action="#" method="post">
			<input type="hidden" name="id" th:value="${unit.id}" />
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4"><span class="lead">Book Title</span></div>
                    <div class="col-xs-12 col-md-8"><input type="text" th:field="*{bookTitle}" class="form-control" /></div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4"><span class="lead">ISBN</span></div>
                    <div class="col-xs-12 col-md-8"><input type="text" th:field="*{isbn}" class="form-control" /></div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4"><span class="lead">Author ID</span></div>
                    <div class="col-xs-12 col-md-8"><input type="text" th:field="*{author}" class="form-control" /></div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4"><span class="lead">Genre ID</span></div>
                    <div class="col-xs-12 col-md-8"><input type="text" th:field="*{genre}" class="form-control" /></div>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4"><span class="lead">Publication Country</span></div>
                    <div class="col-xs-12 col-md-8"><input type="text" th:field="*{publicationCountry}" class="form-control" /></div>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="col-xs-12 col-md-4"><span class="lead">Publication Year</span></div>
                    <div class="col-xs-12 col-md-8"><input type="text" th:field="*{publicationYear}" class="form-control" /></div>
                </div>
            </div>
			<div class="row justify-content-md-center">
                <div class="form-group col-xs-12">
				    <span class="lead">Description</span>
                 </div>
                 <div class="form-group col-xs-12">
					<textarea th:field="*{description}" class="form-control" rows="6"></textarea>
                 </div>
			</div>
	
			<div class="row form-group">
                <div class="form-group col-xs-6">
                    <input type="submit" class="btn btn-success" value="Save" style="width: 100%;" />
                </div>
				<div class="form-group col-xs-6">
					<input type="button" class="btn btn-warning" name="Reset" value="Reset" style="width: 100%;" />
                </div>
			</div>
            <div class="row form-group">
                <div class="form-group col-xs-12">
                    <input type="button" class="btn btn-danger" name="cancel" value="Cancel Changes" onclick="window.location='/books/all'" style="width: 100%;" />
                </div>
            </div>
			</form>
		</div>
	</div>
</body>
</html>