<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
	<div class="container">
        <!-- HEADER -->
		<div class="row">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading page-heading"><h2 class="display-2"><strong><span th:text="${unit.bookTitle}" /></strong></h2></div>
                    <div class="panel-body">
                        <input type="checkbox" class="read-more-state" id="post-1" />
                        <h4><a th:href="@{/authors/id/{id}(id=${unit.author.id})}"><span th:text="${unit.author.name}" /></a></h4>
                        <p class="read-more-wrap"><span class="read-more-target text-muted" th:text="${unit.author.country.name}" /><br /><span class="read-more-target" th:text="${unit.author.description}" /></p>
                        <label for="post-1" class="read-more-trigger"></label>
                    </div>
                </div>
            </div>
		</div>
       <!-- MAIN CONTENT -->
		<div class="row">
            <div class="panel-group">
    			<div class="panel panel-primary">
    				<div class="panel-heading">Description</div>
    				<div class="panel-body">
    					<p th:text="${unit.description}" />
    				</div>
    			</div>
    		</div>
       </div>
        <!-- ADDITIONAL BOOK INFO & CHECKOUT -->
        <div class="row panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Additional Information</div>
                <div class="panel-body">
                    <div class="gutter-10 col-xs-12 col-md-4 col-lg-4">
                        <p class="text-left text-primary"><strong>Country of Origin:</strong> <span th:text="${unit.publicationCountry.name}" /></p>
                    </div>
                    <div class="gutter-10 col-xs-12 col-md-3 col-lg-3">
                        <p class="text-left text-primary"><strong>Published:</strong> <span th:text="${unit.publicationYear}" /></p>
                    </div>
                    <div class="gutter-10 col-xs-12 col-md-3 col-lg-5">
                            <p class="text-left text-primary"><strong>ISBN-13:</strong> <span th:text="${unit.isbn}" /></p>
                    </div>
                </div>
            </div>
        </div>
        <!-- CHECKOUT, WISHLIST, ETC -->
        <div class="row panel-group">
            <div class="panel panel-primary">
                <div class="panel-heading">Availability</div>
                <div class="panel-body">
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <a th:href="@{/checkout/{id}(id=${unit.id})}"><span class="btn btn-success btn-block col-xs-12 btn-lg">Check Out</span></a>
                        <!-- <input type="button" class="btn btn-primary btn-success" name="return" value="Check Out" th:onclick="window.location='@{/checkout/{id}(id=${unit.id})}'" style="width: 100%;" /> -->
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <a th:href="@{/checkout/{id}(id=${unit.id})}"><span class="btn btn-info btn-block col-xs-12 btn-lg">Wish List</span></a>
                        <!-- <input type="button" class="btn btn-info btn-block" name="return" value="Wish list" onclick="window.location='/books/all'" style="width: 100%;" /> -->
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <a th:href="@{/books/edit/{id}(id=${unit.id})}"><span class="btn btn-warning btn-block col-xs-12 btn-lg">Edit Book</span></a>
                        <!-- <input type="button" class="btn btn-info btn-block" name="return" value="Wish list" onclick="window.location='/books/all'" style="width: 100%;" /> -->
                    </div>
                    <div class="col-xs-12 col-md-6 col-lg-3">
                        <a th:href="@{/books/edit/{id}(id=${unit.id})}"><span class="btn btn-danger btn-block col-xs-12 btn-lg">Delete Book</span></a>
                        <!-- <input type="button" class="btn btn-info btn-block" name="return" value="Wish list" onclick="window.location='/books/all'" style="width: 100%;" /> -->
                    </div>
                </div>
            </div>
        </div>
       <!-- MOAR BOOKS -->
        <div class="row">
    		<div class="panel-group">
    			<div class="panel panel-primary">
    				<div class="panel-heading">Similar Titles</div>
    				<div class="panel-body">
    					<table id="example" class="display" cellspacing="1" width="100%">
    						<thead>
    							<tr>
    								<th>Title</th>
    								<th>Author</th>
    								<th>Published</th>
    							</tr>
    						</thead>
    						<tbody>
    							<tr>
    								<td>Harry Porter</td>
    								<td>Tiger Nixon</td>
    								<td>2016</td>
    							</tr>
    							<tr>
    								<td>Twilight</td>
    								<td>Garrett Winters</td>
    								<td>2016</td>
    							</tr>
    							<tr>
    								<td>Game Of Thrones</td>
    								<td>Ashton Cox</td>
    								<td>2017</td>
    							</tr>
    							<tr>
    								<td>Naruto Shippuden</td>
    								<td>Cedric Kelly</td>
    								<td>2016</td>
    							</tr>
    							<tr>
    								<td>Hunger Games</td>
    								<td>Olivia Liang</td>
    								<td>2017</td>
    							</tr>
    							<tr>
    								<td>Maze Runner</td>
    								<td>Bruno Nash</td>
    								<td>2015</td>
    							</tr>
    						</tbody>
    					</table>
    				</div>
    			</div>
            </div>
		</div>
	</div>
    <!-- RETURN -->
    <div class="container">
		<div class="row">
    		<input type="button" class="btn btn-primary" name="return" value="Return" onclick="window.location='/'" style="width: 100%;" />
		</div>
    </div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>