<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
	<div class="container">
		<div class="row">
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading"><h2>Authors</h2></div>
                    <div class="panel-body">
            			<table id="table_units" class="table table-striped table-hover table-condensed">
            				<thead>
            					<tr class="row">
            						<th class="col-xs-3"><strong>ID</strong></th>
            						<th class="col-xs-6"><strong>Author Name</strong></th>
                                    <th class="col-xs-3"><strong>Country of Origin</strong></th>
            					</tr>
            				</thead>
            				<tbody>
            					<tr th:each="author : ${authors}" class="row">
            						<td class="col-xs-3"><span th:text="${author.id}"/></td>
            						<td class="col-xs-6 "><a th:href="@{/authors/id/{id}(id=${author.id})}"><span th:text="${author.name}"/></a></td>
                                    <td class="col-xs-3"><span th:text="${author.country.name}"/></td>
            					</tr>
            				</tbody>
            			</table>
                    </div>
                </div>
            </div>
		</div>
	</div>
    <div class="container">
		<div class="row">
    		<input type="button" class="btn btn-primary" name="return" value="Return" onclick="window.location='/'" style="width: 100%;" />
		</div>
    </div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>