<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Inventory</title>
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="css/site.css" /> -->

<!-- Custom in-line CSS until I better fit this into my environment / container -->
<!-- At the end of the day this is all for the mock-up until using UPRR standards -->
<style>
body {
	font-style: normal;
	font-variant-ligatures: normal;
	font-variant-caps: normal;
	font-variant-numeric: normal;
	font-weight: normal;
	font-stretch: normal;
	font-size: 12px;
	line-height: 1.231;
	font-family: verdana, arial, helvetica, clean, sans-serif;
}

table {
	display: table;
	border-collapse: separate;
	border-spacing: 0;
}
</style>

</head>
<body>
	<div class="container divBookDetails">
		<div class="row">
            <div class="col-xs-12 col-md-8">
                <div class="col-xs-12">
                    <h4 class="display-4"><a th:href="@{/authors/id/{id}(id=${unit.author})}"><small><span th:text="${unit.author}" /></small></a></h4>
                </div>
    			<div class="col-xs-12">
    				<h3 class="display-3"><strong><span th:text="${unit.bookTitle}" /></strong></h3>
                </div>
                <div>
                    <div class="col-xs-4 col-lg-4">
                        <h6 class="display-6 text-left"><span th:text="${unit.publicationCountry}" /></h6>
                    </div>
                    <div class="col-xs-2 col-lg-2">
                        <h6 class="display-6 text-left"><span th:text="${unit.publicationYear}" /></h6>
        			</div>
                    <div class="col-xs-6 col-lg-6">
                            <h6 class="display-6 text-right">ISBN-13: <span th:text="${unit.isbn}" /></h6>
        			</div>
                </div>
            </div>
			<div class="col-xs-12 col-md-4 align-text-bottom align-bottom">
                <div class="col-xs-12" style="height:30px;">
                    <input type="button" class="btn btn-primary" name="return" value="Check Out" onclick="window.location='/books/all'" style="width: 100%;" />
                </div>
                <div class="col-xs-12" style="height:30px;">
                    <input type="button" class="btn btn-primary" name="return" value="Wish list" onclick="window.location='/books/all'" style="width: 100%;" />
                </div>
			</div>
		</div>
        <div style="height:10px;">
            <span style="height:10px;"></span>
        </div>
		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Description</div>
				<div class="panel-body">
					<p th:text="${unit.description}" />
				</div>
			</div>
		</div>

		<div class="panel-group">
			<div class="panel panel-primary">
				<div class="panel-heading">Similar Titles</div>
				<div class="panel-body">
					<table id="example" class="display" cellspacing="1" width="100%">
						<thead>
							<tr>
								<th>Title</th>
								<th>Author</th>
								<th>Published</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Harry Porter</td>
								<td>Tiger Nixon</td>
								<td>2016</td>
							</tr>
							<tr>
								<td>Twilight</td>
								<td>Garrett Winters</td>
								<td>2016</td>
							</tr>
							<tr>
								<td>Game Of Thrones</td>
								<td>Ashton Cox</td>
								<td>2017</td>
							</tr>
							<tr>
								<td>Naruto Shippuden</td>
								<td>Cedric Kelly</td>
								<td>2016</td>
							</tr>
							<tr>
								<td>Hunger Games</td>
								<td>Olivia Liang</td>
								<td>2017</td>
							</tr>
							<tr>
								<td>Maze Runner</td>
								<td>Bruno Nash</td>
								<td>2015</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<input type="button" class="btn btn-primary" name="return" value="Return" onclick="window.location='/books/all'" style="width: 100%;" />
			</div>
		</div>
	</footer>
</body>
</html>