<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"/>
<body roleId="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
<head th:replace="common/header :: navbar"/>
	<div class="container">
		<div class="row">
            <div class="panel-group">
                <div class="panel panel-default gutter-5">
                    <div class="panel-heading page-heading gutter-15"><h2 class="text-default">Books</h2></div>
                    <div class="panel-body"><p class="text-default">Listed below are all books owned by the library. Click on the title, author, or genre to get more information.</p></div>
                </div>
            </div>
		</div>
		<div class="row">
			<table id="table_units" class="table table-striped table-hover table-condensed">
				<thead>
					<tr class="row">
						<th class="col-lg-5 col-md-5 col-sm-5"><strong>Title</strong></th>
						<th class="col-lg-3 col-md-3 col-sm-3"><strong>Author</strong></th>
						<th class="col-lg-2 col-md-2 col-sm-2"><strong>Genre</strong></th>
						<th class="col-lg-1 col-md-1 col-sm-1"><strong>Edit</strong></th>
						<th class="col-lg-1 col-md-1 col-sm-1"><strong>Delete</strong></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="unit : ${inventory}" class="row">
						<td class="col-lg-5 col-md-5 col-sm-5"><a th:href="@{/books/id/{id}(id=${unit.id})}"><span th:text="${unit.bookTitle}"/></a></td>
						<td class="col-lg-3 col-md-3 col-sm-3"><a th:href="@{/authors/id/{id}(id=${unit.id})}"><span th:text="${unit.author.name}"/></a></td>
						<td class="col-lg-2 col-md-2 col-sm-2"><a th:href="@{/books/genre/id/{id}(id=${unit.id})}"><span th:text="${unit.genre.name}"/></a></td>
						<!-- <td th:text="${unit.price}!=null? ${unit.price} : 'NO PRICE LISTED'" class="col-lg-3 col-md-3 col-sm-3">Stock Price</td> -->
						<!-- CUSTOMERS -->
						<!-- 
						<td class="col-lg-3 col-md-3 col-sm-3">
							<span th:each="customer,iterStat : ${unit.customers}">
								<span th:text="${customer.name}"/><th:block th:if="${!iterStat.last}">,</th:block>
							</span>
						</td>
						 -->
						<td class="col-lg-1 col-md-1 col-sm-1"><a th:href="@{/books/edit/{id}(id=${unit.id})}"><span class="label label-default btn-block lead" >edit</span></a></td>
						<td class="col-lg-1 col-md-1 col-sm-1"><a th:href="@{/books/delete/{id}(id=${unit.id})}"><span class="label label-danger btn-block lead" >delete</span></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
    <div class="container">
		<div class="row">
    		<input type="button" class="btn btn-primary" name="return" value="Return" onclick="window.location='/'" style="width: 100%;" />
		</div>
    </div>


<div th:replace="common/header :: body-bottom-scripts" />

</body>
</html>